@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.nav {

    height: 12vh;
}

.left-nav {
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
}

.hero-section {
    height: 88vh;
}

.contact {
    background: rgb(19, 135, 28);
    background: linear-gradient(315deg, rgb(9, 130, 25) 0%, rgb(24, 174, 66) 32%, rgb(9, 189, 39) 100%);
}